.table {
	border-collapse: collapse;
	margin: 60px auto;
	margin-bottom: 70px;
	overflow-x: auto;
	box-shadow: 0px 5px 20px;
}
.table__cell {
	border: 1px solid rgb(0, 0, 0);
	padding: 20px;
	text-align: center;
	color: black;
}
.table__cell--head {
	background-color: #c0dbf8;
}
.table__row:hover {
	background-color: #eee;
}
.table__link {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-style: italic;
	box-shadow: 0px 1px;
	line-height: 1.5;
}
.table__link:hover{
	color: #62aeff;
}
.container--table{
	overflow: auto;
}